html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

body {
  position: relative;
  padding: 0;
  height: 100vh;
  background-color: #000;
}

.header {
  position: absolute;
  color: #fff;
  text-align: left;
  top: 0;
  left: 0;
}

#container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.color-info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.color-info > div {
  padding: 12px;
}
